.profile__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 46px;
    border: 2px solid #ffffff;
}

@media screen and (max-width: 720px) {
    .profile__card-button {
        width: 278px;
        margin-top: 36px;
    }
}