.profile__occupation-title {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 16px;
    text-transform: capitalize;
    font-weight: normal;
}

@media screen and (max-width: 720px) {
    .profile__occupation-title {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        padding-top: 14px;
    }
}