.modal__box_type_image {
    display: flex;
    margin: auto;
    width: 75%;
    max-width: 75vw;
    max-height: 75vh;
    border-radius: 0;
}

/* @media screen and (max-width: 500px) {
    .modal__box_type_image {
        width: 282px;
    }
} */