.modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .modal__box {
        width: 282px;
    }
}